<% content_for :title, "'#{h(@tag.name)}' Tag" %>

<h1>
  <%= pluralize @tag.addresses.size, 'URL' %> tagged '<%=h @tag.name %>'
</h1>

<ul>
<% @tag.addresses.each do |address| %>
  <li>
    <%= link_to goto_shortened_url(address), goto_shortened_url(address) %>
    (<%= link_to 'stats', address %>,
    <%= link_to 'edit', edit_address_path(address) %>)
<% end %>
</ul>
