<h1>New address</h1>

<% form_for(@address) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url, :size => 150,
      :title => 'http://www.example.com/ (must include http)',
      :class => 'has-hint' %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', addresses_path %>