<p>
  <b>Url:</b>
  <%=h @address.url %>
</p>
<p>
  <b>Shortened:</b>
  <%= text_field_tag 'shortened', goto_shortened_url(@address.shortened), :size => 40 %>
</p>

<%= link_to 'Go', goto_address_path(@address) %> |
<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>