<% content_for :title, 'Your Shortened URL' %>

<p id="shortened-address-container">
  <%= label_tag 'Your shortened URL is' %>
  <%= text_field_tag 'shortened', goto_shortened_url(@address), 
    :class => 'has-autoselect' %><br />
  <span class="mute">Click the shortened url and hit CTRL-C (Windows/Linux) or Command-C (Mac) to copy it to the clipboard.</span>
</p>

<ul id="address-meta">
  <li>
    <strong>Actual address:</strong>
    <%=h @address.url %>
    (<%= link_to 'edit', edit_address_path(@address) %>)
  </li>
  <li>
    <strong>Tags:</strong>
    <% if not @address.tags.empty? %>
      <% @address.tags.each do |tag| %>
        <%= link_to tag.name, tag %><% unless tag == @address.tags.last %>,<% end %>
      <% end %>
      (<%= link_to 'edit', edit_address_path(@address) %>)
    <% else %>
      none (<%= link_to 'add some', edit_address_path(@address) %>)
    <% end %>
  </li>
</ul>

<p>So far, <strong><%= pluralize @address.num_visits, 'person', 'people' %></strong> have used your sick new link. Why not <%= link_to 'tweet it', twitter_url(@address) %> or put it on Facebook to get more hits?</p>

<%= link_to 'Shorten another URL?', root_path %>
