<p id="shortened-address-container">
  <%= label_tag 'Your shortened URL is' %>
  <%= text_field_tag 'shortened', goto_shortened_url(@address), 
    :class => 'has-autoselect' %>
</p>

<ul id="address-meta">
  <li>
    <strong>Actual address:</strong>
    <%=h @address.url %>
    (<%= link_to 'edit', edit_address_path(@address) %>)
  </li>
  <li>
    <strong>Tags:</strong>
    <% if not @address.tags.empty? %>
      <% @address.tags.each do |tag| %>
        <%= link_to tag.name, tag %><% unless tag == @address.tags.last %>,<% end %>
      <% end %>
      (<%= link_to 'edit', edit_address_path(@address) %>)
    <% else %>
      none (<%= link_to 'add some', edit_address_path(@address) %>)
    <% end %>
    
  </li>
</ul>

<%= link_to 'Shorten another URL?', root_path %>
