<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>scvn.gr | <%=h yield(:title) %></title>
	<%= stylesheet_link_tag 'reset', 'text', '960', 'jquery.autocomplete', 'thickbox', 'base' %>
	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js', 'jquery.bgiframe.min', 'jquery.ajaxQueue', 'thickbox-compressed', 'jquery.autocomplete.min', 'application' %>
</head>
<body id="<%= request.path_parameters['controller'] %>">
<div class="container_16">
  <div class="grid_16" id="header">
    <div class="grid_4 alpha" id="logo">
      <%= link_to 'scvn.gr', root_path %>
    </div>
    <div class="grid_12 omega">
      <% form_tag find_tags_path,
        :method => :get, :id => 'find-tags-form' do -%>
        <%= text_field_tag :name, nil, {
          :title => 'Search for a tag...',
          :class => 'has-hint',
          :id    => 'find-tag' } %>
      <% end %>
    </div>
  </div>
  
  <div class="grid_16" id="content">
    <% if flash[:warning] %>
			<p id="flash-warning"><%=h flash[:warning] %></p>
		<% end %>
    <% if flash[:notice] %>
			<p id="flash-notice"><%=h flash[:notice] %></p>
		<% end %>
    <%= yield %>
  </div>
</div>
</body>
</html>